.board-container{
    background-color: black;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.board-row-container{
    display: flex;
}
.board-square{
    width: 50px;
    height: 50px;
}

.white{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.black{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.knight{
    width: 50px;
    height: 50px;
    background-color: red;
    z-index: 99;
}

.goal{

    background-color: green;
    color: white;
}

.clickable-square{
    cursor: pointer;
}